<% if current_user.try(:admin?) %>
  <h1>Blogs_admin</h1>
<% else %>
  <h1>Blogs</h1>
<% end %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Limit</th>
      <th>Status</th>
      <th>Priority</th>
      <th>CreateTime</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.limit %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= task.created_at.to_s(:datetime_jp) %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
<%= link_to 'そーっと', tasks_path(hoge: "true") %>


<%# button_to '', tasks_path(hoge: "true") %> 
<%# button_to 'そーっと', tasks_path(hoge: "true") %>


